<!DOCTYPE html>
<html>
<head>
  <title>RailsBackboneRspecJasmineHaml</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script>
  $(document).ready(function() {
    Appy.init({});
  });
</script>
</html>
